body {
    background-color: black !important;
    color: #fff;
}

.container {
    margin-top: 100px !important;
}

.letsgame {
    background: green;
    width: 150px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

.col-md-7 h2 {
    color: #555;
}

.card {
    background-color: rgb(27, 27, 27) !important;
    color: antiquewhite;
    transition: 0.5s;
}

.card:hover {
    background-color: rgb(53, 51, 51) !important;
    color: aliceblue;
    cursor: pointer;
}
